In [1]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [30]:
# pull in data
file_link = 'C:/Users/Michael/projects/bball/nba_rosters_15/b_r_nba_heights_scrape.csv'
data = pd.read_csv(file_link)

In [42]:
# drop first column and sample data
data = data.iloc[:,1:]
data.head()

,Team,No,Player,Pos,Ht,Wt,Birth_Date,Exp,College,ht_in,...,FT_PCT,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,LAL,28,Tarik Black,C,6-9,257,"November 22, 1991",R,University of Kansas,81,...,0.562,84,157,241,34,13,22,29,102,274
1,LAL,12,Vander Blue,SG,6-4,200,"July 17, 1992",1,Marquette University,76,...,0.400,2,7,9,8,3,0,6,4,22
2,LAL,5,Carlos Boozer,PF,6-9,258,"November 20, 1981",12,Duke University,81,...,0.627,111,371,482,95,41,12,92,184,836
3,LAL,15,Jabari Brown,SG,6-6,214,"December 18, 1992",R,University of Missouri,78,...,0.753,3,33,36,40,12,2,32,33,227
4,LAL,24,Kobe Bryant,SG,6-6,200,"August 23, 1978",18,NaN,78,...,0.813,26,173,199,197,47,7,128,65,782

In [6]:
# list out column names
list(data.columns)

['Team',
 'No',
 'Player',
 'Pos',
 'Ht',
 'Wt',
 'Birth_Date',
 'Exp',
 'College',
 'ht_in',
 'Age',
 'G',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG_PCT',
 'FG3',
 'FG3A',
 'FG3_PCT',
 'FG2',
 'FG2A',
 'FG2_PCT',
 'EFG_PCT',
 'FT',
 'FTA',
 'FT_PCT',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS']

In [7]:
# which player is the tallest?
data[data.ht_in == data.ht_in.max()]

,Team,No,Player,Pos,Ht,Wt,Birth_Date,Exp,College,ht_in,...,FT_PCT,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
307,SAC,32,Sim Bhullar,C,7-5,360,"December 2, 1992",R,New Mexico State University,89,...,NaN,0,1,1,1,0,1,0,0,2

In [50]:
# which player is the shortest?
data[data.ht_in == data.ht_in.min()]

,Team,No,Player,Pos,Ht,Wt,Birth_Date,Exp,College,ht_in,...,FT_PCT,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
104,BOS,4,Isaiah Thomas,PG,5-9,185,"February 7, 1989",3,University of Washington,69,...,0.861,7,37,44,113,12,0,54,45,400
259,LAC,8,Nate Robinson,PG,5-9,180,"May 31, 1984",9,University of Washington,69,...,0.833,3,8,11,20,6,0,8,8,46
457,PHO,3,Isaiah Thomas,PG,5-9,185,"February 7, 1989",3,University of Washington,69,...,0.872,26,83,109,171,45,5,89,105,701
482,DEN,5,Nate Robinson,PG,5-9,180,"May 31, 1984",9,University of Washington,69,...,0.650,14,25,39,77,14,3,22,68,192

In [15]:
# which team was the tallest by roster?
team_data = data.groupby('Team').ht_in.mean()
team_data.sort('ht_in',ascending=False)
team_data.head()

Team
GSW    79.800000
TOR    79.666667
MIN    79.520000
BRK    79.473684
IND    79.375000
Name: ht_in, dtype: float64

In [16]:
# which teams are the shortest by roster?
team_data.sort('ht_in',ascending=True)
team_data.head()

Team
CHO    77.823529
PHO    77.913043
LAC    78.000000
DEN    78.150000
NOP    78.190476
Name: ht_in, dtype: float64

In [48]:
# which team was tallest adjusted for playing time?
MP_team = data.groupby('Team').MP.sum() 
MP_team = MP_team.reset_index()
MP_team = MP_team.rename(columns={'MP':'MP_Team'})
MP_team.head()

MP_df = pd.merge(data,MP_team,on ='Team',how='left')
MP_df['Weighted_ht'] = MP_df['ht_in'] * MP_df['MP'] / MP_df['MP_Team']
team_MP_data = MP_df.groupby('Team').Weighted_ht.sum()
team_MP_data.sort('Weighted_ht',ascending=False)
team_MP_data.head(15)

Team
PHI    79.667104
UTA    79.621162
MIN    79.422852
IND    79.417930
NOP    79.395511
WAS    79.393616
ORL    79.385776
POR    79.385073
MIL    79.369361
CHI    79.361602
CLE    79.193994
LAL    79.133805
MEM    79.098875
GSW    79.051039
BRK    79.048424
Name: Weighted_ht, dtype: float64

In [49]:
# which team was the shortest adjusted for playing time?
team_MP_data.sort('Weighted_ht',ascending=True)
team_MP_data.head(15)

Team
DEN    78.129219
CHO    78.144185
PHO    78.259772
MIA    78.450588
BOS    78.515191
ATL    78.523616
LAC    78.558996
DET    78.651838
NYK    78.694485
TOR    78.738454
SAS    78.791230
HOU    78.895375
OKC    78.928247
DAL    78.939892
SAC    78.956787
Name: Weighted_ht, dtype: float64

In [70]:
# which team plays the tallest at the 4 & 5?
#MP_df_bm1 = MP_df[MP_df.Pos == 'PF']
#MP_df_bm2 = MP_df[MP_df.Pos == 'C']
#MP_df_bm = pd.concat((MP_df_bm1,MP_df_bm2),axis=0)
#MP_df_bm.head()

#MP_df_bm = MP_df_bm.groupby('Team').Weighted_ht.sum()
#MP_df_bm.sort('Weighted_ht',ascending=False)
#MP_df_bm.head(30)

# THIS DID NOT WORK
# some teams will play a SF at the four thus making the output meaningless

Team
NOP    37.380042
TOR    37.016721
LAL    35.384708
PHO    35.227074
CHI    34.386148
NYK    33.610728
SAC    32.735029
IND    32.448351
DET    32.437636
ATL    32.398692
CHO    32.372268
WAS    31.978653
SAS    31.608519
LAC    31.322250
UTA    31.130322
POR    31.113014
MEM    31.028236
ORL    30.908783
BRK    30.826224
OKC    30.661658
BOS    30.134759
PHI    30.006312
MIN    29.196860
DAL    28.967356
CLE    28.633146
HOU    28.574177
DEN    28.550727
GSW    28.430258
MIL    22.817051
MIA    22.605311
Name: Weighted_ht, dtype: float64

In [72]:
# which player weighs the most?
data[data.Wt == data.Wt.max()]

,Team,No,Player,Pos,Ht,Wt,Birth_Date,Exp,College,ht_in,...,FT_PCT,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
307,SAC,32,Sim Bhullar,C,7-5,360,"December 2, 1992",R,New Mexico State University,89,...,NaN,0,1,1,1,0,1,0,0,2

In [73]:
# which player weighs the least?
data[data.Wt == data.Wt.min()]

,Team,No,Player,Pos,Ht,Wt,Birth_Date,Exp,College,ht_in,...,FT_PCT,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
309,SAC,7,Darren Collison,PG,6-0,160,"August 23, 1987",5,"University of California, Los Angeles",72,...,0.788,19,124,143,252,67,14,112,95,725

In [76]:
# which team was the heaviest by roster?
weight_data = data.groupby('Team').Wt.mean()
weight_data.sort('Wt',ascending=False)
weight_data.head()

Team
CLE    226.250000
SAC    224.315789
ATL    222.625000
MIN    221.400000
MEM    220.789474
Name: Wt, dtype: float64

In [78]:
# which team was the lightest by roster?
weight_data.sort('Wt',ascending=True)
weight_data.head()

Team
NOP    210.285714
PHO    211.217391
UTA    211.727273
PHI    212.000000
CHI    212.285714
Name: Wt, dtype: float64

In [79]:
# which team was the heaviest adjusted for minutes played?
MP_df['Weighted_wt'] = MP_df['Wt'] * MP_df['MP'] / MP_df['MP_Team']
team_MP_data = MP_df.groupby('Team').Weighted_wt.sum()
team_MP_data.sort('Weighted_wt',ascending=False)
team_MP_data.head(30)

Team
CLE    226.571566
MEM    225.366459
BRK    224.027599
DET    222.235739
BOS    221.493461
WAS    221.323311
NOP    221.279092
SAC    221.251775
IND    221.158247
OKC    221.066257
ORL    220.859074
CHO    220.631600
LAC    219.889407
DEN    219.040793
POR    218.452659
ATL    218.386580
LAL    218.266155
NYK    217.258675
PHO    217.182806
MIL    215.862412
UTA    215.576808
SAS    215.440842
PHI    213.711494
MIN    213.419014
TOR    213.239990
MIA    212.251470
GSW    211.842575
HOU    211.613462
CHI    210.302148
DAL    206.623862
Name: Weighted_wt, dtype: float64

In [80]:
# average height by position in the NBA
MP_df.groupby('Pos').ht_in.mean()

Pos
C     83.204545
PF    81.323077
PG    74.000000
SF    79.896226
SG    77.155039
Name: ht_in, dtype: float64

In [81]:
# average weight by position in the NBA
MP_df.groupby('Pos').Wt.mean()

Pos
C     249.590909
PF    237.515385
PG    185.959016
SF    217.311321
SG    202.922481
Name: Wt, dtype: float64